div 
  =@question.title
  =@question.body
  -if @question.user == current_user
    =link_to 'delete question', question_path(@question), method: 'DELETE'

-@question.answers.each do|answer|
  p =answer.body
  -if answer.user == current_user
    .delete_answer
      =link_to 'delete answer', question_answer_path(@question, answer), method: 'DELETE'

=form_for @question.answers.build, url: question_answers_path(@question), method: 'POST' do |f| 
  =f.label :body, 'Your answer'
  =f.text_area :body
  br
  =f.submit 'Add answer'